{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "arrow-body-style": [
      "error",
      "as-needed",
      {
        "requireReturnForObjectLiteral": true
      }
    ],
    "react/require-default-props": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
